<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                text-align: center;
            }
            form {
                text-align: center;
            }
        </style>
    </head>
<body class="text-align":centre>

<h2>Grab the Opportunity!</h2>
<h2>Book You ticktes here</h2>

<form action="/success.html">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" value=""><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" value=""><br><br>
  <label for="phone_no">Phone Number:</label>
  <input type="text" id="phone_no" name="phone_no" value=""><br><br>
  
  <p>Please select seating options:</p>
  <input type="radio" id="front_Stage" name="seating" value="front_Stage">
  <label for="front_Stage">Front Stage</label><br>
  <input type="radio" id="middle" name="seating" value="middle">
  <label for="middle">Middle</label><br>
  <input type="radio" id="balcony" name="seating" value="balcony">
  <label for="balcony">Balcony</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label>
  <br><br>

  <label for="tickets">Number of Tickets:</label>
  <select id="tickets" name="Number">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br><br>

  <label for="questions">Any Questions? :</label>
  <input type="text" id="questions" name="questions" value=""><br><br>

  <input type="submit" value="Submit">
</form> 



</body>
</html>