<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Art Gallery</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    
	    
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'dashboard' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
					<a class="nav-link" href="{% url 'gallery' %}"> Galleries <span class="sr-only">(current)</span></a>
				</li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'artist' %}">Artist <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
                  <a class="nav-link" href="{% url 'painting' %}">Painting <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'event' %}">Upcoming Event <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
				<a class="p-2 text-light" href="/gallery/profile">Profile</a>
	     	<a class="p-2 text-light" href="/logout">Logout</a>
	     	
	     	

	    </div>
	    </div>
	  
    </nav>
    
    <div class="container-fluid my-5 px-5">
        
        <div class="row">   
            {% for exhibition in exhibitions %}
				<div class="col-lg-4">
                    <div class="box-element product">
						<h1>Exhibition </h1>
						<img class="thumbnail" src="{{exhibition.image.url}}">
		                	<h6><i>Gallery : {{exhibition.gallary.g_name}}</i></h6>
							<h6><i> Exhibition Name : {{ exhibition.exb_name}}</i></h6>
							<h6><i>Start Date : {{exhibition.start_date}}</i></h6>
							<h6><i>End Date : {{exhibition.end_date}}</i></h6>
							<h6><i>Start Time : {{exhibition.s_time}}</i></h6>
							<h6><i>End Time : {{exhibition.end_time}}</i></h6>
							
							<hr>
		                    <p><a class="btn btn-lg btn-primary" href="{% url 'exhib_event' exhibition.id %}" role="button">View Events »</a>
						</div>
        		</div>
			{% endfor %}
    </div>

    </div>

	<div class="container">
        <br>
        <a href="{% url 'addexhibition' %}"class="btn btn-warning"> Add Exhibition </a>
    </div>

    <footer class="container">
        <p><br><br></p>
        <p>© Art Gallery Management System 2020</p>
    </footer>


    </div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>