{% extends 'gallery/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  {% if profile.image %}
  <img  src="{{ profile.image.url }}" alt="{{ user.username }}" width="200" height="200">

  <h2>Username : {{ user.username }}</h2>
  <h2>Email : {{ user.email }}</h2>
  
  <h2>Address : {{ profile.address }}</h2>
  <h2>Contact : {{ profile.phone }}</h2>

  {% else %}
    <h2>Username : {{ user.username }}</h2>
    <h2>Email : {{ user.email }}</h2>
  {% endif %}
  
  


  
    
{% endblock content %}